# Copy this file to .env and fill in your details

# Flask Secret Key (generate a new one: python -c 'import secrets; print(secrets.token_hex())')
SECRET_KEY='481fa5ebca2a5dc4531f444ae3f0c3015eff879ef80a3811dc799b89c9e14cf9'

# Database Credentials
DB_USER='root'
DB_PASSWORD='Sns2004#'
DB_HOST='localhost'
DB_NAME='estore'

# Database URI (will be constructed in config.py)
# DATABASE_URL='mysql+pymysql://iot_user:your-strong-db-password@localhost/iot_db'